.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.5);
    transition: 0.3s;
    width: 10%;
    border-radius: 5px;
    display: inline-block;
    background-color: white;
    padding: 5px;
}

.infoContainer {
    padding: 2px 16px;
    color: blue;
}

.singleCard {
	width: 100%;
	height: 140px;
}